body {
    background-color: #232323;
    text-align: center;
    margin: 0;
}

.square {
    width: 30%;
    background: purple;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 50px;
    transition: background .8s;
    -webkit-transition: background .8s;
    -moz-transition: background .8s;

}

#container {
    margin: 20px auto;
    max-width: 600px;
}

h1 {
    color: white;
    line-height: 1.1;
    padding: 20px 0;
    text-align:center;
    background-color: steelblue;
    margin: 0;
    text-transform: uppercase;
}
#colorDisplay{
    font-size: 50px;
}
#message{
    width: 10%;
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
}
#stripe {
    background: white;
    height: 30px;
    text-align: center;
    color: black;
}

.selected {
    background: #57D9FF;
}
button {
    border: none;
    background: none;
    text-transform: uppercase;
    height: 100%;
    font-weight: 700;
    color: steelblue;
    letter-spacing: 1px;
    font-size: inherit;
    transition: all .7s;
    outline: none;
}
button:hover {
    background-color: #57D9FF;
    color: #fff;
}